p {
	font-size: 1.3rem;
}

.featured {
	color: white;
	font-weight: 500;
	width: fit-content;
	/* background-color: red; */
}

.featured_container {
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.8);
	/* margin: 20px auto; */
	/* border-radius: 5%; */
}

h1,h2{
	font-weight: 200;
}

.explore_container {
	color: white;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.8);
}

.product_container {
	color: white;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.8);
}

.navbar{
	background-color: rgba(0, 0, 0, 0.8);
}

.navbar-nav > li {
	padding-left: 15px;
	padding-right: 15px;
}

.description {
	padding: 20px;
	color: white;
}

body.vegas-container {
	min-width: fit-content;
	/* min-width: 100vw; */
}