.featured {
	color: white;
	font-weight: 500;
	width: fit-content;
	/* background-color: red; */
}

img {
	border-radius: 10%;
	/* background-color: orange; */
}

.description {
	padding: 20px;
	color: white;
}

body.vegas-container {
	min-width: fit-content;
	/* min-width: 100vw; */
}

.featured_container {
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5%;
}

p {
	font-size: 1.3rem;
}

.navbar-nav > li {
	padding-left: 10px;
	padding-right: 10px;
}
